.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-complete {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.auto-complete__input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: none;
  outline: none;
  border: 2px solid lightgray;
  width: 250px;
  color: darkgray;
}

.auto-complete__input:focus {
  border-color: darkgray;
}

.auto-complete__list {
  height: 200px;
  width: 250px;
  overflow: auto;
  padding: 0;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  position: absolute;
  top: 50px;
}

.auto-complete__list li {
  padding: 1rem;
  font-size: 1rem;
  color: darkgray;
}

.auto-complete__item {
  cursor: pointer;
}

.auto-complete__item:hover {
  background-color: rgb(243, 243, 243);
}

.auto-complete__list li mark {
  color: rgb(75, 74, 74);
  background-color: lightblue;
}



.auto-complete__list::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.auto-complete__list::-webkit-scrollbar-thumb {
  background-color: darkgray;
}